[run]
source = .
omit = **/__init__.py, .venv/**, **/migrations/*.*, **/manage.py, **/conftest.py, **/admin.py, **/settings*.py, */apps.py, **/urls.py, **/wsgi.py, **/asgi.py, **/tests/*.py

[report]
show_missing = true
exclude_lines = def __str__

[xml]
output = build/coverage.xml
